{% extends "base.html" %}

{% load static %}

{% block title %}{{ genre }}{% endblock title %}

{% block body_classes %}no-sidebar {{ short_genre }} feedPage{% endblock body_classes %}

{% block header_id %}feedHeader{% endblock header_id %}

{% block body_content %}

<div id ="genreWrapper" class="wrapper style1">
	<div class="container">
		<div class="row">
			<div class="12u skel-cell-important" id="content">


{% if recent_songposts %}
<div class="endless_page_template">
{% include page_template %}
</div>
{% else %}
    <h2>Looks like there aren't any posts...</h2>
{% endif %}


			</div>
		</div>
	</div>
</div>

{% endblock body_content %}

{% block bottom_scripts %}
{{ block.super }}
<script type="text/javascript" src="{% static "js/sc_api.js" %}"></script>
<script type="text/javascript" src="{% static "js/continuous_play.js" %}"></script>
<script src="{{ STATIC_URL }}endless_pagination/js/endless_on_scroll.js"></script>
<script src="{{ STATIC_URL }}endless_pagination/js/endless-pagination.js"></script>
<script>$.endlessPaginate({
		paginateOnScroll: true,
		paginateOnScrollMargin: 200,
});
</script>
{% endblock bottom_scripts %}
