{% extends "base.html" %}

{% block title %}{{ genre }}{% endblock title %}

{% block body_classes %}no-sidebar {{ short_genre }} feedPage{% endblock body_classes %}

{% block header_id %}feedHeader{% endblock header_id %}

{% block body_content %}

<div id ="genreWrapper" class="wrapper style1">
	<div class="container">
		<div class="row">
			<div class="12u skel-cell-important" id="content">


{% if recent_songposts %}
{% for post in recent_songposts %}

<div class="post 6u">
    <h1 class="post_title">{{ post.song_title }}</h1>
    <h3 class="post_artist">{{ post.artist }}</h3>
	<div class="genre_color">
	</div>
	<div class="post_music 12u">
		<iframe width="100%" height="100%" scrolling="no" frameborder="no" src="{{ post.soundcloud_url }}&amp;auto_play=false&amp;hide_related=true&amp;show_user=false&amp;show_comments=false&amp;visual=true"></iframe>
	</div>	
</div>	

{% endfor %}
{% else %}
    <h2>Looks like there aren't any posts...</h2>
{% endif %}


			</div>
		</div>
	</div>
</div>

{% endblock body_content %}
